body{
    text-align: center;
    
}
.conteiner-fluid {
    padding: 3% 15%;
  }
.navbar {
}
.sub-title{
    font-size: 3rem;
}
/*Home*/
#home{
    background-color: #B7CADB;
}
.mancha{
    width: 600px;
    transform: rotate(90deg);
}
.title-image{
    width: auto;
}
.big-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    margin-top: 125px;
}
/*About*/
#about{
    background-color: #f3e9dd;
}
.about-image{
    width: 400px;
    border-radius: 5%;
    margin: 15%;
}
.about-box-white{
}
.about-box-colored{
    background-color: #DAB88B;
}
.about-text{
    margin: 15%;
}
.about-me{
    font-size: 1.5rem;
}
@media screen and (max-width: 980px){
    .title-image{
        width: 350px;
    }
  }
/*contact*/
#contact{
    background-color: #DAB88B;
    text-align: center;
    padding: 7% 15%;
}
.contact-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 1.5;
    margin: 125px;

}
.contact-text{
    font-size: 1.5rem;
}
/*footer*/
#footer{
    padding: 50px 0 20px 0;
    margin: 0;
    background-color: #B7CADB;
}