body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.conteiner-fluid {
    padding: 3% 15%;
  }
.nav-item{
    color: #004138;
    font-size: 1.5rem;
    margin-right: 60px;
}
.nav-item:hover{
    font-size: 1.7rem;
    
}
/*Home*/
#home{
    background-color: #B7CADB;
}
.mancha{
    width: 600px;
    transform: rotate(90deg);
}
.title-image{
    width: 80%;
}
.big-heading{
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    margin-top: 125px;
    color: #f3e9dd;
}
.sub-title{
    font-size: 3rem;
    color: #f3e9dd;
}
/*About*/
#about{
    background-color: #f3e9dd;
}
.about-image{
    width: 400px;
    border-radius: 5%;
    margin: 15%;
}
.about-box-colored{
    background-color: #DAB88B;
}
.about-text{
    margin: 20% 15% 15% 15%;
}
.about-me{
    font-size: 1.5rem;
}

/*contact*/
#contact{
    background-color: #DAB88B;
    text-align: center;
    padding: 7% 15%;
}
.contact-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 1.5;
    margin: 125px;
    color:#004138
}
.contact-text{
    font-size: 1.5rem;
    color: #004138;
}
.text-link{
    margin-top: 40px;
    color: #004138;
}
/*footer*/
#footer{
    padding: 50px 0 20px 0;
    margin: 0;
    background-color: #B7CADB;
}
@media screen and (max-width: 980px){
    .title-image{
        width: 350px;
    }
  }