body{
    text-align: center;
}
.conteiner-fluid {
    padding: 3% 15%;
  }
.navbar {
}
/*Home*/
#home{
    background-color: #B7CADB;
}
.mancha{
    width: 600px;
    transform: rotate(90deg);
}
.title-image{
    width: auto;
}
.big-heading{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    margin-top: 125px;
}
/*About*/
#about{
    background-color: #f3e9dd;
}
.about-image{
    width: 400px;
}
.about-box-colored{
    background-color: #DAB88B;
}