/*------------------ TAGS ------------------*/
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/*------------------ CLASSES ------------------*/
/*conteiner*/
.conteiner-fluid{
    padding: 3% 15%;
}
/*Navbar*/
.navbar{
    padding:  0  0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}
.nav-item{
    padding: 0 1.5rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
}
/*Buttons*/
.download-button{
    margin: 5% 3% 5% 0%;
}
/*image*/
.title-image{
    width: 60%;
    transform: rotate(25deg);
    margin: 0% 0% 0% 25%;
}

/*------------------ IDS ------------------*/

#title{
    background-color: #ff4c68;
    color: aliceblue;
}


/*------------------ Navbar ------------------*/
